$darkBlue: #217093;
$medBlue: #4eb8dd;
$darkRed: #960f0f;
$medRed: #ed4e4e;
$darkGrey: #5e5d5d;
$medGrey: #878585;
$lightGrey: #bfbbbb;
$warn: #d9921f;
$success: #0f9911;

$bigFont: 24px;
$normalFont: 16px;
